input{
  border: none;
  border-radius: 15px;
  padding: 20px 15px;
  width: 500px;
}

button{
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-left: 15px;
}

button:hover{
  background-color: rgb(12, 10, 10);
  cursor: pointer;
}
